/*********************************************************************************/
/*                              Variable Definitions                             */
/*********************************************************************************/

:root {
	--myTrueBlack:     #000000;
	--myTrueWhite:     #FFFFFF;
	--myLightGray:     #CCCCCC;
	--myTextGray:      #AAAAAA;
	--myMidGray:       #808080;
	--myDarkGray:      #555555;
	--myOffBlack:      #222222;
	--myHighlightGray: #E0E0E0;
	--myLinkGreen:     #00FF84;
	--myBloodRed:      #c90000;
	--sideNavWidth:    220px;
}

/*********************************************************************************/
/*                                    Blocking                                   */
/*********************************************************************************/

html, body { 
	height: 100%; 
}

body { 
	background: black;
	background-image: url(https://katcottrell.github.io/vampire-interviews/starry%20sky.png);
	background-size: 600px;
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}

hr {
	margin: 40px 0px;
}

/*********************************************************************************/
/*                           Indentation and Spacing                             */ 
/*********************************************************************************/

.aboveFooter {
	min-height: calc(100% - 40px);
}

.techIndent {
	background: #000000dd;
	max-width: calc(100% - var(--sideNavWidth));
	width: 60%;
	margin-left: max(var(--sideNavWidth), calc(var(--sideNavWidth) + (30% - var(--sideNavWidth)) / 2));
	padding: 20px 5% 200px 5%;
	border-left: solid 4px var(--myMidGray);
	border-right: solid 4px var(--myMidGray);
	box-shadow: 0px 0px 20px var(--myTrueBlack);
	min-height: calc(100vh - 480px);
}

.listItem {
	margin: 30px 0;
}

.listText {
	margin: 0 0 0 calc(30% + 38px);
}

.artListing {
	margin: 30px 0px 0px 0px;
}

.faqText {
	margin-left: calc(20% + 38px);
}

/*********************************************************************************/
/*                                  Styling Text                                 */ 
/*********************************************************************************/

h1, h2, h3 { 
	padding: 0; 
	color: var(--myTrueWhite); 
	font-family: "Copperplate Gothic Light", serif;
	font-weight: normal;
	text-align: center;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}
	
p, ol, ul { 
	color: white;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 180%; 
	text-shadow: 1px 1px 12px black, -1px 1px 12px black, 1px -1px 12px black, -1px -1px 12px black, 1px 1px 12px black, -1px 1px 12px black, 1px -1px 12px black, -1px -1px 12px black, 1px 1px 12px black, -1px 1px 12px black, 1px -1px 12px black, -1px -1px 12px black;
}

ol, ul { 
	padding: 0; 
	list-style: none; 
}

li {
	font-size: 12pt;
	margin-left: 60px;
	list-style-type: circle;
 }

a {
	color: var(--myBloodRed);
}

blockquote {
	margin: 30px auto;
	width: 75%;
	border: solid var(--myMidGray);
	padding: 5px 20px;
	background: var(--myOffBlack);
}

.artTitle {
	margin-bottom: 0px;
}

.artMedia {
	margin-top: 0px;
	font-size: 15px;
}

.quoteSource {
	text-align: right;
}

/*********************************************************************************/
/*                                 Styling Footer                                */ 
/*********************************************************************************/

footer {
	background-color: var(--myDarkGray);
	text-align: center;
	padding: 10px;
	border-top: solid var(--myMidGray);
}

p.footer-text {
	color: var(--myTextGray);
	text-align: center;
	margin: 5px;
	line-height: 100%;
}

img.footer-icon {
	height: 30px;
	vertical-align: middle;
	padding-right: 5px;
}

/*********************************************************************************/
/*                           Styling Header Image Menu                           */
/*********************************************************************************/

 #header-image-menu { 
	 top: 0px; 
	 position: relative;  
	 font-size: 0;
}

#header-image-menu img { 
	width: 100%; 
	margin: none; 
	padding: none; 
}

/*********************************************************************************/
/*                           Styling Side Navigation                             */ 
/*********************************************************************************/

.sidenav {
	background-color: black;
	color: white;
	border-right: solid #777;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	float: left;
	width: var(--sideNavWidth);
	z-index: 1;
	margin: 0;
	height: calc(100vh);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-color: black #ddd;
	scrollbar-width: thin;
}

.sidenav a.sideHeading {
	padding: 6px 8px;
	font-size: 20px;
	font-weight: bold;
	font-family: serif;
	text-decoration: none;
	color: white;
	display: block;
	margin: 12px 0;
	text-align: center;
}

.sidenav a.sideTabs {
	padding: 6px 8px;
	margin: 12px 0;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
}

.sidenav a.sideTabs:hover {
	background-color: var(--myHighlightGray);
	color: black;
	background-color: var(--myHighlightGray);
}

.sidenav a.active {
	padding: 6px 8px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: block;
	background-color: var(--myHighlightGray);
	box-shadow: 0 0 12px var(--myMidGray);
}

/*********************************************************************************/
/*                                 Image Styling                                 */ 
/*********************************************************************************/

.justBorder {
	float: left;
	border: solid var(--myMidGray); 4px;
	margin: 0px 30px 30px 0px;
}

.leftRect {
	float: left;
	width: 30%;
	border: solid #808080 4px;
	margin: 0px 30px 0px 0px;
}

.aboutImgRound {
	float: left;
	width: 20%;
	border-radius: 50%;
	border: solid var(--myMidGray); 4px;
	margin-right: 30px;
	vertical-align: middle;
}

.aboutImgSquare {
	float: left;
	width: 40%;
	border: solid var(--myMidGray); 4px;
	margin-right: 30px;
	vertical-align: middle;
}

.aboutImg2Col {
	width: 100%;
	border: solid var(--myMidGray); 4px;
}

.format2Col {
	float: left;
	width: calc(50% - 25px);
	padding-right: 50px;
}

.row10 {
	float: left;
	width: 8.5%;
	padding-right: 0.5%;
}

.artPic {
	float: left;
	width: 40%;
	margin: 0px 30px 30px 0px;
	border: solid var(--myMidGray); 4px;
}

.art3ColPic {
	width: calc(calc(100% - 76px) / 3);
	margin-right: 20px;
	border: solid var(--myMidGray) 4px;
	margin-bottom: 20px;
}

.bigPicture {
	width: 600px;
	max-width: calc(100% - 8px);
	border: solid var(--myMidGray);
}

/*********************************************************************************/
/*                             Styling  Collapsibles                             */ 
/*********************************************************************************/

.collapsible {
	background-color: var(--myLightGray);
	color: var(--myTrueBlack);
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	outline: solid #999;
	outline-width: 2px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}

.collapsible:hover {
	background-color: var(--myHighlightGray);
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top:0px;
}

.collapsible:after {
	content: '\2796'; /* Unicode character for "minus" sign (-) */
	float: left;
	margin-right: 15px;
}

.opened:after {
	content: "\2795"; /* Unicode character for "plus" sign (+) */
	float: left;
	margin-right: 15px;
}

.courseNum {
	display:inline-block;
	width:100px;
}

.divider {
	display:inline-block;
	width:20px;
}

.courseName {
	display:inline-block;
	width:calc(90% - 120px);
}

/*********************************************************************************/
/*                                 Table Styling                                 */ 
/*********************************************************************************/

table, th, td {
  border: 1px solid var(--myMidGray);
  border-collapse: collapse;
  padding: 5px 15px;
  white-space: pre-wrap; 
  word-wrap: break-word;
}

table {
	width:100%;
	color:var(--myTrueWhite);
	line-height: 200%;
}

th {
	text-align: left;
	width: 100px;
}
