/***************************/
/* Default CSS values for HTML elements */
/***************************/

html, body{ 
	height: 100%; 
}

body{ 
	margin: 0px; 
	padding: 0px; 
	background: #000000; 
	font-family: "Century Gothic", Helvetica, Arial, sans-serif; 
	font-size: 12pt; 
}
		
h1, h2, h3{ 
	margin-left: 60; 
	padding: 0; 
	color: #FFF; 
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}
	
p, ol, ul{ 
	margin-top: 30; 
	margin-left: 60;
	color: #FFF;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 15px;
} 

p { 
	line-height: 180%; 
} 

ol, ul{ 
	padding: 0; 
	list-style: none; 
	line-height: 180%; 
} 

a {
	color: #00ff84;
}
	
.container{	 
	/* Set width of container to 
		1200px and align center */
	margin: 0px auto; 
	width: 1200px; 
} 

/*************************/
/*    Styling  Header    */
/*************************/
header{
    overflow: hidden; 
}

#top-header{
    text-align: center; 
    height: 60px; 
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{ 
    float: right; 
    width: 100%; 
    height: 100%; 
    margin: none; 
} 

#menu ul{ 
    text-align: center; 
    float: right; 
    margin: none; 
    background: #181818; 
} 
      
#menu li{ 
    display: inline-block; 
    padding: none; 
    margin: none; 
} 

#menu li a, #menu li span{ 
    display: inline-block; 
    padding: 0em 1.5em; 
    text-decoration: none; 
    font-weight: 600; 
    text-transform: uppercase; 
    line-height: 60px; 
} 

#menu li a{
    color: #FFF; 
} 

#menu li:hover a, #menu li span{ 
    background: #FFF; 
    color: #000000; 
    border-left: 1px solid #ff1100; 
    text-decoration: none; 
} 

/*****************************/
/* Styling Header Image Menu */
/*****************************/

 #header-image-menu { 
	top: 0px; 
	position: relative; 
}

#header-image-menu img { 
	width: 100%; 
	margin: none; 
	padding: none; 
}

.topnav {
	background-color: #cccccc;
	font-family: monospace;
	font-size: 17px;
	overflow: hidden;
	padding-left: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e0e0e0;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e0e0e0;
  color: black;
}

li {
    font-size: 12pt;
    margin-left: 60px;
    list-style-type: circle;
 }

#logo{ 
    float: left; 
    padding: none; 
    margin: none; 
    height: 60px; 
    width: 100%; 
} 
  
#logo img{ 
    width: 100%; 
    float: left; 
    padding: 0px 0px; 
}    

.sidenav {
  width: 270px;
  position: absolute;
  z-index: 1;
  margin-top: 30px;
  margin-left: 30px;
  border: solid 4px #999;
  background-color: #cccccc;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidenav a.cats {
	padding: 6px 8px 6px 16px;
	font-size:20px;
	font-weight:bold;
	font-family: monospace;
	text-decoration: none;
	color: #000000;
	display: block;
}

.sidenav a.tabs {
	padding: 6px 8px 6px 40px;
	font-size: 17px;
	font-family: monospace;
	text-decoration: none;
	color: #000000;
	display: block;
}

.techIndent {
	margin-top:  30px;
	margin-right: 100px;
	margin-bottom: 30px;
	margin-left: 350px;
}
.standardIndent {
	margin-top:  30px;
	margin-right: 100px;
	margin-bottom: 30px;
	margin-left: 100px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a.tabs:hover {
	background-color: #e0e0e0;
	color: black;
}

/* Add a color to the active/current link */
.sidenav a.active {
	padding: 6px 8px 6px 40px;
	font-size: 17px;
	font-family: monospace;
	text-decoration: none;
	color: #000000;
	display: block;
	background-color: #e0e0e0;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*******************************/
/*    Styling  Collapsibles    */
/*******************************/

.collapsible {
  background-color: #cccccc;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;    
  outline: solid #999;
  outline-width: 2px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.collapsible:hover {
  background-color: #e0e0e0;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  margin-bottom: 20px;
}

.collapsible:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
  float: left;
  margin-right: 15px;
}

.opened:after {
  content: "\002B"; /* Unicode character for "plus" sign (+) */
  float: left;
  margin-right: 15px;
}
